.Header{
display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    /* background-image: url('/public/assets/images/sunflower.jpg'); */
    background-color: rgba(46, 146, 222, 0.378);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 100px;
    box-shadow: 0 0 10px 3px black;
  
}
